@model BasketViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sepet</h5>
                @if (Model != null && Model.BasketItems.Any())
                {
                    <table class="table table-striped">

                        <tr>
                            <th>Kurs İsmi</th>
                            <th>Kursun Fiyatı</th>
                            <th>İşlemler</th>
                        </tr>

                        @foreach (var item in Model.BasketItems)
                        {
                            <tr>
                                <td>@item.CourseName</td>
                                <td>@item.GetcurrentPrice ₺</td>
                                <td> <a class="btn btn-danger" asp-controller="Basket" asp-action="RemoveBasketItem" asp-route-courseID="@item.CourseId">Sil </a> </td>
                            </tr>
                        }



                        @if (Model.HasDiscount)
                        {
                            <tr>
                                <td>İndirim Oranı</td>
                                <th colspan="2">%@Model.DiscountRate.Value</th>
                            </tr>
                        }

                        <tr>
                            <td>@(Model.HasDiscount ? "İndirimli Fiyat" : "Toplam Fiyat")</td>
                            <th colspan="2">@Model.TotalPrice ₺</th>
                        </tr>
                    </table>


                    <form asp-controller="Basket" asp-action="ApplyDiscount">
                        @if (Model.HasDiscount)
                        {
                            <div class="alert alert-success">
                                "@Model.DiscountCode" indirim kodu uygulandı.
                            </div>
                        }

                        @if (TempData["discountStatus"] != null && (bool)TempData["discountStatus"] == false)
                        {
                            <div class="alert alert-danger">
                                "@Model.DiscountCode" indirim kodu geçersiz.
                            </div>
                        }

                        <div class="input-group mb-3">
                            <input type="text" name="DiscountApplyInput.Code" class="form-control" />
                            <div class="text-danger" asp-validation-summary="All"></div>
                            <button class="btn btn-outline-secondary" type="submit">Uygula</button>
                        </div>
                    </form>





                }

                else
                {
                    <div class="alert alert-info">Sepet Boş</div>
                }
            </div>
        </div>
    </div>
</div>