@model List<CourseViewModel>
@{
    ViewData["Title"] = "Home Page";
    var count = 0;
}

<h2>Kurslar</h2>

<hr />
<div class="container">
@if (Model.Any())

{

    @foreach (var item in Model)
    {
        count++;
        if (count == 1 || (count % 3 == 1))
        {
                @Html.Raw("<div class='row'>")
        }
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <div class="item">
                        <span class="notify-badge">@item.Price ₺</span>
                    <img src="@item.StockPictureUrl" alt="" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name <span class="badge badge-primary">@item.Category.Name</span></h5>
                        <p class="card-text">@item.ShortDescription</p>
                        <a asp-route-id="@item.Id" asp-controller="Home" asp-action="Detail" class="btn btn-success">Detaylar</a>
                    </div>
                </div>
            </div>

        if (count % 3 == 0)
        {
            @Html.Raw("</div>")
        }

    }
}
</div>


